*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    height: 93vh;
    width: 100vw;
    position:relative;
    opacity: 1;
}
.carousel-item img{
  height: 93vh;
    width: 100vw; 
}
.background-text{
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 60px;
  color: white;
}
.background-p{
  font-weight: 400;
 font-size: 18px;
 line-height: 1.5rem;
}
/*search*/
.search{
  background-color: #293241;
}
.abouth6{
    color: #3d5a80;
}

.about .part2{
    background-color: #98c1d9;
    
}
.part2 h6{
  line-height: 1.5rem;
}
.part2 .btn {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #293241;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
  }
  
 .part2 .btn:hover {
    background: #f56960;
    text-decoration: none;
  }
.about .part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
} 
/*offers*/
.special-section {
    padding-bottom: 100px;
  }
  .special-section  .section-heading {
    margin-bottom: 50px;
  }
  .special-section  .section-heading .dash-style {
    padding-left: 80px;
    position: relative;
  }
  .special-section  .section-heading h5 {
    color: #f56960 !important;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 22px;
    text-transform: uppercase;
    display: inline-block;
  }
  .special-section  .section-heading .dash-style:before {
    background-color: #f56960;
    content: "";
    height: 2px;
    width: 70px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 50%;
  }
  .special-section  .section-heading h2 {
    
    font-size: 38px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
  }
  .special-section  .section-heading p:last-child {
    margin-bottom: 0;
  }
  
  .special-section  p {
    line-height: 1.6;
    margin: 0 0 15px;
    word-wrap: break-word;
  }
  .special-section  .special-inner {
    margin-top: -30px;
    margin-bottom: -30px;
  }
  .special-section  .special-item {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .special-section  .special-inner img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
  }
    
  .special-section  .special-item .special-content {
      background-color: #ffffff;
      box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 8%);
      margin-top: -145px;
      padding: 30px;
      position: relative;
      margin-left: 15px;
      margin-right: 15px;
  }
  .special-section  .special-content .meta-cat {
      margin-bottom: 10px;
  }
  .special-section  .special-content .meta-cat a {
      color: #0791BE;
      font-family: "Raleway", Sans-serif;
      font-weight: 700;
      line-height: 1.2;
  }
  .special-section   .special-content .meta-cat a:hover, .special-content .meta-cat a:focus {
      color: #F56960;
        text-decoration: none;
  }
  
  .special-section   .h1, .h2, .h3, .h4, .h5, .h6 {
      color: #293241!important;
      font-family: "Raleway", sans-serif;
  }
  .special-section   h3 {
      font-size: 23px !important;
      font-weight: 700 !important;
  }
  .special-section  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
      color: inherit;
  /*    color: #2C75BA !important; */
      text-decoration: none !important;
      outline: 0;
  }
  .special-content h3{
    color: black;
  }
  .special-section  .special-content .package-price {
      color: #F56960;
      font-size: 18px;
      font-family: "Raleway", Sans-serif;
      font-weight: 700;
      line-height: 1.3;
  }
  .special-section   mark, ins {
      text-decoration: none;
      padding-left: 5px;
      padding-right: 5px;
  }
  
  @media screen and (max-width: 991px) {
    .special-section {
      padding-bottom: 62px;
    }
  }
  @media screen and (max-width: 575px) {
    .special-section {
      padding-bottom: 12px;
    }
  }
  @media screen and (max-width: 991px) {
    .special-section  .special-item .special-img img {
      width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    .special-section  h1 {
      font-size: 32px;
    }
  
    .special-section    h2 {
      font-size: 24px !important;
    }
  
    .special-section  h3 {
      font-size: 18px !important;
    }
  
    .special-section   h4 {
      font-size: 14px;
    }
  
    .special-section   h5 {
      font-size: 14px;
    }
  
    .special-section   h6 {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .special-section  .section-heading h2 {
      font-size: 30px !important;
    }
  }
  @media screen and (max-width: 575px) {
    .special-section    .section-heading {
      margin-bottom: 30px;
    }
    .section-heading h2 {
      font-size: 24px;
    }
  } 

  /*modal*/
  .modal-content{
    color: black;
  }
/*countries*/
.countries .hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  
  }
  .countries .overlay .h2{
    color: #fff;
  }
  .countries  .hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(0,0,0,0.5);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  }
  
  .countries  .hovereffect img {
  display:block;
  position:relative;
  -webkit-transition:all .2s linear;
  transition:all .2s linear;
  }
  
  .countries  .hovereffect h2 {
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:rgba(0,0,0,0.6);
  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  padding:10px;
  }
  
  .countries  .hovereffect a.info {
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  color:#fff;
  border:1px solid #fff;
  background-color:transparent;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  margin:50px 0 0;
  padding:7px 14px;
  }
  
  .countries  .hovereffect a.info:hover {
  box-shadow:0 0 5px #fff;
  }
  
  .countries  .hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  }
  
  .countries  .hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
  }
  
  .countries   .hovereffect:hover h2,.hovereffect:hover a.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
  }
  
  .countries  .hovereffect:hover a.info {
  -webkit-transition-delay:.0.2s;
  transition-delay:.0.2s;
  }
 .open{
  font-size: 38px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
 } 
/*-----*/


.container__line {
  /* Border */
  border-right: 2px solid #aaa;

  /* Positioned at the left */
  left: 16px;
  position: absolute;
  top: 0px;

  /* Take full height */
  height: 100%;
}

.container__items {
  /* Reset styles */
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.container__item {
  margin-bottom: 8px;
}

.container__top {
  /* Center the content horizontally */
  align-items: center;
  display: flex;
}

.container__circle {
  /* Rounded border */
  background-color: rgb(170, 170, 170);
  border-radius: 9999px;

  /* Size */
  height: 32px;
  width: 32px;
}

.container__title {
  /* Take available width */
  flex: 1;
}

.container__desc {
  /* Make it align with the title */
  margin-left: 48px;
}
/*booking*/
.book2{
  background-color: #98c1d9;
 
}
.booking-img{
  width: 50vw;
  height: 103vh;
}
@media (max-width: 752px) {
  .booking-img{
    width: 100%;
    max-width: 100%;
    height: auto;
  }
 }
 .booking-heading{
   font-size: 50px;
 }
 
 .testimonial{
  background-color: #98c1d9;
  position: relative;
  width: 100%;
  min-height: 100vh;
 }
.review{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}
.review .swiper{
  width: 100%;
  padding-top: 50px;
  
}

.review  .swiper-slide{
  width: 320px;
 background-color: white;
  background-position: center;
  background-size: cover;
  
}

.review  .swiper-slide img {
  display: block;
  width: 100%;
}
 .testimonialbox{
   position: relative;
   width: 100%;
   padding: 40px;
   padding-top: 60px;
   color: #999;

 }
 .testimonialbox .details{
   display: flex;
   align-items: center;
   margin-top: 20px;

 }
 .testimonialbox .details .imgbx{
   position: relative;
   width: 60px;
   height: 60px;
   border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
 }
 .testimonialbox .details .imgbx img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .testimonialbox .details h3{
    font-size: 16px;
    font-size: 400;
    letter-spacing: 1px;
    color: #0791BE;
    line-height: 1.1rem;
 }
 .testimonialbox .details h3 span{
   font-size: 12px;
   color: #666;
 }

/*modes*/
#lightSwitch {
  transform: scale(1.8);
}
.services h5{
  color: #333;
}
.services p{
  color: #333;
}
/*timeline*/

.main-timeline {
  position: relative
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px
}

.main-timeline .icon:after {
  border: 2px solid #c6c6c6;
  left: 3px
}

.main-timeline .timeline:hover .icon:before {
  left: 3px
}

.main-timeline .timeline:hover .icon:after {
  left: -3px
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #232323;
  left: -6px
}

.main-timeline .date-outer:after {
  border: 2px solid #c6c6c6;
  left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px
  
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0
}

.main-timeline .description {
  margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
      margin-top: 35px
  }
  .main-timeline .date-content:before {
      width: 22.5%
  }
  .main-timeline .timeline-content {
      padding: 10px 0 10px 30px
  }
  .main-timeline .title {
      font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 10px 30px 10px 0
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
      margin: 0;
      left: 7px
  }
  .main-timeline .timeline {
      margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
      margin-bottom: 0
  }
  .main-timeline .icon {
      margin: auto 0
  }
  .main-timeline .date-content {
      width: 95%;
      float: right;
      margin-top: 0
  }
  .main-timeline .date-content:before {
      display: none
  }
  .main-timeline .date-outer {
      width: 110px;
      height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
      width: 110px;
      height: 110px
  }
  .main-timeline .date {
      top: 30%
  }
  .main-timeline .year {
      font-size: 24px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      width: 95%;
      text-align: center;
      padding: 10px 0
  }
  .main-timeline .title {
      margin-bottom: 10px
  }
}

